#div1{
    width: 100%;
    height: 50px;
    display: none;
    background-color: green;
}

#div2{
    width: 100%;
    height: 50px;
    display: none;
    background-color: orange;
}

#div3{
    width: 100%;
    height: 50px;
    display: none;
    background-color: red;
}
