<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head'); %>
    <title>Login</title>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div>
    <h1>Login</h1>
    <% if (messages.error) { %>
      <%= messages.error %>
    <% } %>
  </div>
  
    <div class="center">   
      <form action="/login" method="POST">
        <div class="center">
          <label for="email">Email</label>
          <input type="text" name="email" id="email" required>
        </div>
        <div class="center">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" required>
        </div>
      <section class="center">
          <button input type="submit">Login</button>
          <!--<input type="submit" value="Submit">-->
      </section>
    </form>
    </div>
  
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
<script src="/JS/scripts.js" async defer></script>
</body>
</html>