<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head'); %>
    <title>Register</title>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
  
</header>

<main>
    <div>
        <h1>Create Login</h1>
    </div>
    
    <div class="center">
        <form action="/register" method="POST">
            <div class="center">
                <label for="name">User</label>
                <input type="text" name="name" id="name" required>
            </div>
            <div class="center">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" required>
            </div>
            <div class="center">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <section class="center">
                <button type="submit">Create Login</button>
                <!--<input type="submit" value="Submit">-->
            </section>
        </form>
    </div>

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
<script src="/JS/scripts.js" async defer></script>
</body>
</html>